
.head{
    padding: 2.3rem 0;
}
.head span{
    background-color: rgba(8, 8, 8, 0.904);
    margin: .2rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 6px;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
}
.box{
    height: 25rem;
    overflow: hidden;
    position: relative;
  flex: 1 1 3rem;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.contennt{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.781);
    padding: 2rem;
    padding-top: 2rem;
    
  

}

.box:hover .contennt{
    top: 0;
    transition: top 1s;
    font-size: 2rem;
}
.contennt p{
    color: rgb(10, 155, 212);
}
@media only screen and (max-width:688px) {
    .box-container{
        grid-template-columns: repeat(1, 1fr);
      
    }
    .head{
        padding: 3rem 0;
    }
    .head span{
       
        margin: .1rem .3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 15px;
    } 
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .box-container{
        grid-template-columns: repeat(2, 1fr);
       
    }
    .head{
        padding: 3rem 0;
    }
    .head span{
       
        margin: .1rem .3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 20px;
    } 
}